node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit/cloudflare/_routes.json
.svelte-kit/cloudflare/_worker.js
.svelte-kit/cloudflare/_worker.js.map
.svelte-kit/cloudflare/_app/version.json
.svelte-kit/cloudflare/_app/immutable/assets/_layout.BvxrPyMM.css
.svelte-kit/cloudflare/_app/immutable/assets/0.JWc34VL0.css
.svelte-kit/cloudflare/_app/immutable/chunks/2f1_EdUI.js
.svelte-kit/cloudflare/_app/immutable/chunks/aB5qoYrk.js
.svelte-kit/cloudflare/_app/immutable/chunks/cEpLIoOg.js
.svelte-kit/cloudflare/_app/immutable/chunks/DOlntd8k.js
.svelte-kit/cloudflare/_app/immutable/chunks/Dq5e3RKE.js
.svelte-kit/cloudflare/_app/immutable/entry/app.BrS5IKO1.js
.svelte-kit/cloudflare/_app/immutable/entry/start.DqYQoMTq.js
.svelte-kit/cloudflare/_app/immutable/nodes/0.-QIBAlo7.js
.svelte-kit/cloudflare/_app/immutable/nodes/1.CZzaEV6b.js
.svelte-kit/cloudflare/_app/immutable/nodes/2.DpIng1Ko.js
.svelte-kit/cloudflare/avatars/01.png
.svelte-kit/cloudflare/avatars/02.png
.svelte-kit/cloudflare/avatars/03.png
.svelte-kit/cloudflare/avatars/04.png
.svelte-kit/cloudflare/avatars/05.png
.svelte-kit/cloudflare-tmp/manifest.js
.svelte-kit/generated/client-optimized/app.js
.svelte-kit/generated/server/internal.js
.svelte-kit/output/client/.vite/manifest.json
.svelte-kit/output/client/_app/version.json
.svelte-kit/output/client/_app/immutable/assets/_layout.BvxrPyMM.css
.svelte-kit/output/client/_app/immutable/assets/0.JWc34VL0.css
.svelte-kit/output/client/_app/immutable/chunks/2f1_EdUI.js
.svelte-kit/output/client/_app/immutable/chunks/aB5qoYrk.js
.svelte-kit/output/client/_app/immutable/chunks/cEpLIoOg.js
.svelte-kit/output/client/_app/immutable/chunks/DOlntd8k.js
.svelte-kit/output/client/_app/immutable/chunks/Dq5e3RKE.js
.svelte-kit/output/client/_app/immutable/entry/app.BrS5IKO1.js
.svelte-kit/output/client/_app/immutable/entry/start.DqYQoMTq.js
.svelte-kit/output/client/_app/immutable/nodes/0.-QIBAlo7.js
.svelte-kit/output/client/_app/immutable/nodes/1.CZzaEV6b.js
.svelte-kit/output/client/_app/immutable/nodes/2.DpIng1Ko.js
.svelte-kit/output/client/avatars/01.png
.svelte-kit/output/client/avatars/02.png
.svelte-kit/output/client/avatars/03.png
.svelte-kit/output/client/avatars/04.png
.svelte-kit/output/client/avatars/05.png
.svelte-kit/output/server/index.js
.svelte-kit/output/server/manifest-full.js
.svelte-kit/output/server/manifest.js
.svelte-kit/output/server/.vite/manifest.json
.svelte-kit/output/server/_app/immutable/assets/_layout.BvxrPyMM.css
.svelte-kit/output/server/chunks/exports.js
.svelte-kit/output/server/chunks/index.js
.svelte-kit/output/server/chunks/internal.js
.svelte-kit/output/server/chunks/ssr.js
.svelte-kit/output/server/entries/fallbacks/error.svelte.js
.svelte-kit/output/server/entries/pages/_page.svelte.js
.svelte-kit/output/server/nodes/0.js
.svelte-kit/output/server/nodes/1.js
.svelte-kit/output/server/nodes/2.js
.svelte-kit/generated/server/internal.js
.svelte-kit/generated/server/internal.js
